html, body {
    font-family: "Rubik Spray Paint", system-ui;
    background: linear-gradient(135deg, #eef0f4, #d6d9e0);
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Container principal */
.container {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin: 50px auto;
    padding: 25px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    align-items: center;
}

/* Logo */
img {
    width: 190px;
    margin-bottom: 10px;
}

/* Input */
input {
    width: 100%;
    color: black;
    background-color: #f2f3f6;
    border: 2px solid transparent;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
    transition: 0.2s ease;
}

input:focus {
    outline: none;
    border-color: #bb1717;
    background-color: white;
}

/* Botó */
button {
    width: 100%;
    color: white;
    background-color: #bb1717;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px 0;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #8f1111;
    transform: translateY(-2px);
    cursor: pointer;
}

/* Llista */
ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Elements de la llista */
ul li {
    font-size: 18px;
    background-color: #e3e6ee; /* color més fort */
    padding: 12px;
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
    transition: 0.2s ease;
}


ul li:hover {
    background-color: #bb1717;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}
